<a href="https://colab.research.google.com/github/aravindh698/rep2/blob/master/analytics%20vidhya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
import pandas as pd
import numpy as np

In [151]:
df1=pd.read_csv('/content/train_v9rqX0R.csv',index_col='Item_Identifier')
df2=pd.read_csv('/content/test_AbJTz2l.csv',index_col='Item_Identifier')
df1.head()

                 Item_Weight  ... Item_Outlet_Sales
Item_Identifier               ...
FDA15                   9.30  ...         3735.1380
DRC01                   5.92  ...          443.4228
FDN15                  17.50  ...         2097.2700
FDX07                  19.20  ...          732.3800
NCD19                   8.93  ...          994.7052

[5 rows x 11 columns]

In [152]:
df1.isnull().sum()

Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [153]:
df1.Item_Weight.value_counts()
df1.Item_Weight.fillna(12.150,inplace=True)

In [154]:
df1.Outlet_Size.value_counts()
df1.Outlet_Size.fillna('Medium',inplace=True)

In [155]:
df2.isnull().sum()

Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [156]:
df2.Item_Weight.value_counts()
df2.Item_Weight.fillna(10.50,inplace=True)

In [157]:
df2.Outlet_Size.value_counts()
df2.Outlet_Size.fillna('Medium',inplace=True)

In [158]:
df1.dtypes

Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [159]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
a=le.fit_transform(df1['Item_Fat_Content'])

le.fit_transform(df1['Item_Type'])
le.fit_transform(df1['Outlet_Identifier'])
le.fit_transform(df1['Outlet_Size'])
le.fit_transform(df1['Outlet_Location_Type'])
le.fit_transform(df1['Outlet_Type'])

array([1, 2, 1, ..., 1, 2, 1])

In [160]:
le.fit_transform(df1['Item_Fat_Content'])
df1.Item_Fat_Content.value_counts()
df1['Item_Fat_Content']=df1['Item_Fat_Content'].map({'Low Fat':1,'Regular':2,'LF':1,'reg':2,'low fat':1})

In [161]:
df1['Outlet_Size']=le.fit_transform(df1['Outlet_Size'])
df1['Outlet_Location_Type']=le.fit_transform(df1['Outlet_Location_Type'])
df1['Outlet_Type']=le.fit_transform(df1['Outlet_Type'])
df1['Item_Type']=le.fit_transform(df1['Item_Type'])
df1['Outlet_Identifier']=le.fit_transform(df1['Outlet_Identifier'].astype(str))

In [162]:
df1.head()

                 Item_Weight  Item_Fat_Content  ...  Outlet_Type  Item_Outlet_Sales
Item_Identifier                                 ...
FDA15                   9.30                 1  ...            1          3735.1380
DRC01                   5.92                 2  ...            2           443.4228
FDN15                  17.50                 1  ...            1          2097.2700
FDX07                  19.20                 2  ...            0           732.3800
NCD19                   8.93                 1  ...            1           994.7052

[5 rows x 11 columns]

In [163]:
df2['Outlet_Size']=le.fit_transform(df2['Outlet_Size'])
df2['Outlet_Location_Type']=le.fit_transform(df2['Outlet_Location_Type'])
df2['Outlet_Type']=le.fit_transform(df2['Outlet_Type'])
df2['Item_Type']=le.fit_transform(df2['Item_Type'])
df2['Outlet_Identifier']=le.fit_transform(df2['Outlet_Identifier'].astype(str))
df2['Item_Fat_Content']=df2['Item_Fat_Content'].map({'Low Fat':1,'Regular':2,'LF':1,'reg':2,'low fat':1})

In [164]:
Y=df1.Item_Outlet_Sales
features=['Item_Weight','Item_Fat_Content','Item_Visibility','Item_Type','Item_MRP','Outlet_Identifier','Outlet_Establishment_Year','Outlet_Size','Outlet_Location_Type','Outlet_Type']

In [165]:
X=df1[features].copy()
X_test=df2[features].copy()

In [166]:
from sklearn.model_selection import train_test_split
X_train,X_valid,Y_train,Y_valid=train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=0)

In [167]:
from sklearn.ensemble import RandomForestRegressor

# Define the models
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [168]:
from sklearn.metrics import mean_absolute_error

# Function for comparing different models
def score_model(model, X_t=X_train, X_v=X_valid, y_t=Y_train, y_v=Y_valid):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(models)):
    mae = score_model(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

Model 1 MAE: 815
Model 2 MAE: 812
Model 3 MAE: 812
Model 4 MAE: 789
Model 5 MAE: 774

In [181]:
my_model = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)
my_model.fit(X, y)

# Generate test predictions
preds_test = my_model.predict(X_test)

# Save predictions in format used for competition scoring
output = pd.DataFrame({'Item_Identifier': my_model.index,
                       'Outlet_Identifier':my_model.Outlet_Identifier.astype(dtype=object),
                       'Item_Outlet_Sales': preds_test})
output.to_csv('submission4.csv', index=False)

AttributeError: ignored