<a href="https://colab.research.google.com/github/aravindh698/rep2/blob/master/intern1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [40]:
csv1=pd.read_csv('M&M.csv')
csv1.head()

    Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0  M&amp;M     EQ  ...          386664                   69.27
1  M&amp;M     EQ  ...          334469                   64.82
2  M&amp;M     EQ  ...          689649                   74.89
3  M&amp;M     EQ  ...         1043736                   85.70
4  M&amp;M     EQ  ...          773590                   79.20

[5 rows x 15 columns]

In [41]:
csv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  497 non-null    object
 1   Series                  497 non-null    object
 2   Date                    497 non-null    object
 3   Prev Close              497 non-null    float64
 4   Open Price              497 non-null    float64
 5   High Price              497 non-null    float64
 6   Low Price               497 non-null    float64
 7   Last Price              497 non-null    float64
 8   Close Price             497 non-null    float64
 9   Average Price           497 non-null    float64
 10  Total Traded Quantity   497 non-null    int64
 11  Turnover                497 non-null    float64
 12  No. of Trades           497 non-null    int64
 13  Deliverable Qty         497 non-null    int64
 14  % Dly Qt to Traded Qty  497 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.4+ KB

In [42]:
csv1.tail()

      Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
492  M&amp;M     EQ  ...         2366596                   74.87
493  M&amp;M     EQ  ...         3092701                   80.25
494  M&amp;M     EQ  ...          538598                   39.42
495  M&amp;M     EQ  ...         1074491                   51.33
496  M&amp;M     EQ  ...          896064                   61.24

[5 rows x 15 columns]

In [43]:
csv1[csv1.Series != 'EQ']

      Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
439  M&amp;M     BL  ...               0                     0.0
445  M&amp;M     BL  ...               0                     0.0
464  M&amp;M     BL  ...          222927                   100.0

[3 rows x 15 columns]

In [0]:
csv1=csv1.drop(index=[439,445,464])

In [45]:
csv1.tail()

      Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
492  M&amp;M     EQ  ...         2366596                   74.87
493  M&amp;M     EQ  ...         3092701                   80.25
494  M&amp;M     EQ  ...          538598                   39.42
495  M&amp;M     EQ  ...         1074491                   51.33
496  M&amp;M     EQ  ...          896064                   61.24

[5 rows x 15 columns]

In [46]:
i=csv1['High Price'].max()
print("The maximum price is",i)

The maximum price is 1571.4

In [47]:
i=csv1['Low Price'].min()
print("The minimum price is",i)

The minimum price is 615.0

In [48]:
i=csv1['Average Price'].mean()
print("The average prie is",i)

The average prie is 967.2987246963565

In [49]:
csv1['Date']=pd.to_datetime(csv1['Date'],infer_datetime_format=True)
csv1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 496
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 61.8+ KB

In [50]:
print(csv1['Date'].max()-csv1['Date'].min())

728 days 00:00:00

In [51]:
csv1['month']=pd.DatetimeIndex(csv1['Date']).month
csv1['year']=pd.DatetimeIndex(csv1['Date']).year
csv1.head()

    Symbol Series       Date  ...  % Dly Qt to Traded Qty  month  year
0  M&amp;M     EQ 2017-05-15  ...                   69.27      5  2017
1  M&amp;M     EQ 2017-05-16  ...                   64.82      5  2017
2  M&amp;M     EQ 2017-05-17  ...                   74.89      5  2017
3  M&amp;M     EQ 2017-05-18  ...                   85.70      5  2017
4  M&amp;M     EQ 2017-05-19  ...                   79.20      5  2017

[5 rows x 17 columns]

In [52]:
def vwap(csv1):
  q=csv1['Total Traded Quantity'].values
  p=csv1['Average Price'].values
  return csv1.assign(vwap=(p*q).cumsum()/q.cumsum())
csv1=csv1.groupby(csv1.month,group_keys=False).apply(vwap) 
csv1.head()

      Symbol Series       Date  ...  month  year        vwap
159  M&amp;M     EQ 2018-01-01  ...      1  2018  750.770000
160  M&amp;M     EQ 2018-01-02  ...      1  2018  752.028376
161  M&amp;M     EQ 2018-01-03  ...      1  2018  753.230872
162  M&amp;M     EQ 2018-01-04  ...      1  2018  753.583992
163  M&amp;M     EQ 2018-01-05  ...      1  2018  753.964804

[5 rows x 18 columns]

In [0]:
 

# A stack based efficient method to calculate s 
def calculateSpan(price, S): 
	
	n = len(price) 
	# Create a stack and push index of fist element to it 
	st = [] 
	st.append(0) 

	# Span value of first element is always 1 
	S[0] = 1

	# Calculate span values for rest of the elements 
	for i in range(1, n): 
		
		# Pop elements from stack whlie stack is not 
		# empty and top of stack is smaller than price[i] 
		while( len(st) > 0 and price[st[-1]] <= price[i]): 
			st.pop() 

		# If stack becomes empty, then price[i] is greater 
		# than all elements on left of it, i.e. price[0], 
		# price[1], ..price[i-1]. Else the price[i] is 
		# greater than elements after top of stack 
		S[i] = i + 1 if len(st) <= 0 else (i - st[-1]) 

		# Push this element to stack 
		st.append(i) 


# A utility function to print elements of array 
def printArray(arr, n): 
	for i in range(0, n): 
		print (arr[i], end =" ")

In [54]:
csv1['Day_Perc_Change']=csv1['Close Price'].pct_change()
csv1.head()

      Symbol Series       Date  ...  year        vwap  Day_Perc_Change
159  M&amp;M     EQ 2018-01-01  ...  2018  750.770000              NaN
160  M&amp;M     EQ 2018-01-02  ...  2018  752.028376         0.011079
161  M&amp;M     EQ 2018-01-03  ...  2018  753.230872         0.002656
162  M&amp;M     EQ 2018-01-04  ...  2018  753.583992         0.001457
163  M&amp;M     EQ 2018-01-05  ...  2018  753.964804         0.000463

[5 rows x 19 columns]

In [55]:
csv1.fillna(0)

      Symbol Series       Date  ...  year        vwap  Day_Perc_Change
159  M&amp;M     EQ 2018-01-01  ...  2018  750.770000         0.000000
160  M&amp;M     EQ 2018-01-02  ...  2018  752.028376         0.011079
161  M&amp;M     EQ 2018-01-03  ...  2018  753.230872         0.002656
162  M&amp;M     EQ 2018-01-04  ...  2018  753.583992         0.001457
163  M&amp;M     EQ 2018-01-05  ...  2018  753.964804         0.000463
..       ...    ...        ...  ...   ...         ...              ...
400  M&amp;M     EQ 2018-12-24  ...  2018  956.220352         0.009601
401  M&amp;M     EQ 2018-12-26  ...  2018  953.768304        -0.001205
402  M&amp;M     EQ 2018-12-27  ...  2018  949.674133         0.010093
403  M&amp;M     EQ 2018-12-28  ...  2018  947.529653         0.009929
404  M&amp;M     EQ 2018-12-31  ...  2018  944.997368         0.000373

[494 rows x 19 columns]

In [56]:
criteria = [csv1['Day_Perc_Change'].between(-0.5,0.5),csv1['Day_Perc_Change'].between(0.5,1.0),csv1['Day_Perc_Change'].between(-0.5,-1),csv1['Day_Perc_Change'].between(1,3),csv1['Day_Perc_Change'].between(-1,-3),csv1['Day_Perc_Change'].between(3,7),csv1['Day_Perc_Change'].between(-3,-7),csv1['Day_Perc_Change'] > 7,csv1['Day_Perc_Change'] < -7]
values = ['Slight or no change','Slight Positive' , 'Slight Negative','Positive','Negative','Amoung Top gainers','Among top losers','Bill Run','Bear drop']

csv1['Trends'] = np.select(criteria, values, 0)
csv1.head()

      Symbol Series  ... Day_Perc_Change               Trends
159  M&amp;M     EQ  ...             NaN                    0
160  M&amp;M     EQ  ...        0.011079  Slight or no change
161  M&amp;M     EQ  ...        0.002656  Slight or no change
162  M&amp;M     EQ  ...        0.001457  Slight or no change
163  M&amp;M     EQ  ...        0.000463  Slight or no change

[5 rows x 20 columns]

In [62]:
csv1.groupby('Trends')
csv1['Total Traded Quantity'].mean()
csv1['Total Traded Quantity'].median()

2037748.0

In [64]:
csv1.to

NameError: ignored