<a href="https://colab.research.google.com/github/aravindh698/rep2/blob/master/intern1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [3]:
csv1=pd.read_csv('M&M.csv')
csv1.head()

    Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0  M&amp;M     EQ  ...          386664                   69.27
1  M&amp;M     EQ  ...          334469                   64.82
2  M&amp;M     EQ  ...          689649                   74.89
3  M&amp;M     EQ  ...         1043736                   85.70
4  M&amp;M     EQ  ...          773590                   79.20

[5 rows x 15 columns]

In [4]:
csv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  497 non-null    object
 1   Series                  497 non-null    object
 2   Date                    497 non-null    object
 3   Prev Close              497 non-null    float64
 4   Open Price              497 non-null    float64
 5   High Price              497 non-null    float64
 6   Low Price               497 non-null    float64
 7   Last Price              497 non-null    float64
 8   Close Price             497 non-null    float64
 9   Average Price           497 non-null    float64
 10  Total Traded Quantity   497 non-null    int64
 11  Turnover                497 non-null    float64
 12  No. of Trades           497 non-null    int64
 13  Deliverable Qty         497 non-null    int64
 14  % Dly Qt to Traded Qty  497 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.4+ KB

In [5]:
csv1.tail()

      Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
492  M&amp;M     EQ  ...         2366596                   74.87
493  M&amp;M     EQ  ...         3092701                   80.25
494  M&amp;M     EQ  ...          538598                   39.42
495  M&amp;M     EQ  ...         1074491                   51.33
496  M&amp;M     EQ  ...          896064                   61.24

[5 rows x 15 columns]

In [18]:
csv1[csv1.Series != 'EQ']

      Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
439  M&amp;M     BL  ...               0                     0.0
445  M&amp;M     BL  ...               0                     0.0
464  M&amp;M     BL  ...          222927                   100.0

[3 rows x 15 columns]

In [0]:
csv1=csv1.drop(index=[439,445,464])

In [24]:
csv1.tail()

      Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
492  M&amp;M     EQ  ...         2366596                   74.87
493  M&amp;M     EQ  ...         3092701                   80.25
494  M&amp;M     EQ  ...          538598                   39.42
495  M&amp;M     EQ  ...         1074491                   51.33
496  M&amp;M     EQ  ...          896064                   61.24

[5 rows x 15 columns]

In [27]:
i=csv1['High Price'].max()
print("The maximum price is",i)

The maximum price is 1571.4

In [28]:
i=csv1['Low Price'].min()
print("The minimum price is",i)

The minimum price is 615.0

In [35]:
i=csv1['Average Price'].mean()
print("The average prie is",i)

The average prie is 967.2987246963565

In [40]:
csv1['Date']=pd.to_datetime(csv1['Date'],infer_datetime_format=True)
csv1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 496
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 61.8+ KB

In [43]:
print(csv1['Date'].max()-csv1['Date'].min())

728 days 00:00:00