<a href="https://colab.research.google.com/github/aravindh698/rep2/blob/master/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [174]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [175]:
df=pd.read_csv("train.csv")
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [177]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [178]:
df.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [179]:
df['Gender']=df['Gender'].fillna('Male')

In [180]:
df['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [181]:
df['Married']=df['Married'].fillna('Yes')

In [182]:
df['Dependents'].value_counts()
df['Dependents']=df['Dependents'].fillna('0')

In [183]:
df['Self_Employed'].value_counts()
df['Self_Employed']=df['Self_Employed'].fillna('No')

In [184]:
df['LoanAmount'].value_counts()
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].mean())

In [185]:
df['Loan_Amount_Term'].value_counts()
df['Loan_Amount_Term']=df['Loan_Amount_Term'].fillna('360.0')

In [186]:
df['Credit_History'].value_counts()
df['Credit_History']=df['Credit_History'].fillna('1.0')

In [187]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [188]:
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...              1         Urban           Y
1  LP001003   Male     Yes  ...              1         Rural           N
2  LP001005   Male     Yes  ...              1         Urban           Y
3  LP001006   Male     Yes  ...              1         Urban           Y
4  LP001008   Male      No  ...              1         Urban           Y

[5 rows x 13 columns]

In [189]:
X=df.iloc[:,1:12].values
y=df.iloc[:,12].values

In [190]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=1/3,random_state=0)

In [191]:
for i in range(0, 5):
    X_train[:,i] = le.fit_transform(X_train[:,i])

X_train[:,10] = le.fit_transform(X_train[:,10])

In [192]:
labelencoder_y = LabelEncoder()
y_train = labelencoder_y.fit_transform(y_train)
df['Loan_ID']=labelencoder_y.fit_transform(df['Loan_ID'].astype(str))

In [193]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
for i in range(0, 5):
    X_test[:,i] = labelencoder_X.fit_transform(X_test[:,i])
X_test[:,10] = labelencoder_X.fit_transform(X_test[:,10])
# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y_test = labelencoder_y.fit_transform(y_test)

In [194]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [195]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)
X_train = pca.fit_transform(X_train)
X_test = pca.fit_transform(X_test)
explained_variance = pca.explained_variance_ratio_

In [196]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [201]:
X_predict = y_test['Loan_Status']

pd_results = pd.DataFrame(classifier.predict(X_predict), index = df['Loan_ID'], columns = ['Loan_Status'])
pd_results.Loan_Status = pd_results.Loan_Status.apply(lambda x: 'Y' if x ==1 else 'N')
pd_results.to_csv('results.csv')

IndexError: ignored