<a href="https://colab.research.google.com/github/aravindh698/rep2/blob/master/week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('ASHOKA.csv')
df.head()

   Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0  ASHOKA     EQ  ...           88509                   55.32
1  ASHOKA     EQ  ...          151941                   71.26
2  ASHOKA     EQ  ...          261939                   68.37
3  ASHOKA     EQ  ...           35458                   45.05
4  ASHOKA     EQ  ...          301747                   75.68

[5 rows x 15 columns]

In [3]:
df['Pcd_change']=df['Close Price'].pct_change()
df.head()

   Symbol Series  ... % Dly Qt to Traded Qty  Pcd_change
0  ASHOKA     EQ  ...                  55.32         NaN
1  ASHOKA     EQ  ...                  71.26   -0.005323
2  ASHOKA     EQ  ...                  68.37    0.009772
3  ASHOKA     EQ  ...                  45.05   -0.033871
4  ASHOKA     EQ  ...                  75.68   -0.016218

[5 rows x 16 columns]

In [0]:
df['mean']=np.mean(df['Pcd_change'])
df['scaled_mean']=((1+np.mean(df['Pcd_change']))**252)-1
df['std']=np.std(df['Pcd_change'])
df['scaled_std']=np.std(df['Pcd_change']) * np.sqrt(252)

In [15]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import matplotlib.pyplot as plt


#list of stocks in portfolio
stocks = ['AJANTPHARM','APOLLOTYRE','ASHOKA','CENTURYPLY','GOLD']

#download daily price data for each of the stocks in the portfolio
data = web.DataReader(stocks,data_source='yahoo',start='01/01/2010')['Close']

data.sort_index(inplace=True)

#convert daily stock prices into daily returns
returns = data.pct_change()

#calculate mean daily return and covariance of daily returns
mean_daily_returns = returns.mean()
cov_matrix = returns.cov()

#set number of runs of random portfolio weights
num_portfolios = 25000

#set up array to hold results
results = np.zeros((3,num_portfolios))


for i in range(num_portfolios):
    #select random weights for portfolio holdings
    weights = np.random.random()
    #rebalance weights to sum to 1
    weights /= np.sum(weights)
    
    #calculate portfolio return and volatility
    portfolio_return = np.sum(mean_daily_returns * weights) * 252
    portfolio_std_dev = np.sqrt(np.dot(weights.T,np.dot(cov_matrix, weights))) * np.sqrt(252)
    
    #store results in results array
    results[0,i] = portfolio_return
    results[1,i] = portfolio_std_dev
    #store Sharpe Ratio (return / volatility) - risk free rate element excluded for simplicity
    results[2,i] = results[0,i] / results[1,i]

#convert results array to Pandas DataFrame
results_frame = pd.DataFrame(results.T,columns=['ret','stdev','sharpe'])

#create scatter plot coloured by Sharpe Ratio
plt.scatter(results_frame.stdev,results_frame.ret,c=results_frame.sharpe,cmap='RdYlBu')
plt.colorbar()

/usr/local/lib/python3.6/dist-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'AJANTPHARM', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'APOLLOTYRE', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'ASHOKA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'CENTURYPLY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

ValueError: ignored